<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        upermercado
      </div>
    </h2>
        <form class="ui large form login">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Correo electrónico">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Contraseña">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Login</div>
            </div>
        </form>
        <div class="ui message">
            ¿Aún no tienes cuenta? <a href="">Registrarse</a>
        </div>
        
    </div>
</div>
<!-- Modal -->
<div class="ui modal">
    <div class="header">
        Seleccione una foto
    </div>
    <div class="ui center aligned basic segment">
        <form class="ui form registro">
            <div class="field">
                <div class="ui small centered rounded bordered image">
                    <img ng-src="{{myImage}}" />
                </div>
                </div>
                <div class="field">
                <div>
                    <label for="file" class="ui tiny button">
                        <i class="file icon"></i> Cargar Imagen</label>
                    <input type="file" id="file" style="display:none">
                </div>
                </div>
            <div class="three fields">
                <div class="field">
                    <label>Nombre</label>
                    <input name="nombre" type="text" placeholder="Nombre">
                </div>
                <div class="field">
                    <label>Primer Apellido</label>
                    <input name="p_apellido" type="text" placeholder="Primer Apellido">
                </div>
                <div class="field">
                    <label>Segundo Apellido</label>
                    <input name="s_apellido" type="text" placeholder="Segundo Apellido">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Correo electrónico</label>
                    <input placeholder="correo@ejemplo.com" name="email" type="text">
                </div>
                <div class="field">
                    <label>Contraseña</label>
                    <input type="password" name="password">
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button" tabindex="-1">
            Cancelar
        </div>
        <div class="ui positive right labeled icon button">
            Confirmar
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
