<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        upermercado
      </div>
    </h2>
        <div class="ui stacked segment">
            <div class="ui fluid large teal button" ng-click="verProductos()">Ver Productos</div>
            <div class="ui fitted hidden divider"></div>    
            <div class="ui fluid large orange button" ng-click="nuevoProducto()">Nuevo Producto</div>
        </div>
    </div>
</div>
